
@model Expenditure.Web.Data.Entities.TravelEntity

@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />

<h2>Details</h2>

<div>
    <h4>Travel</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.City)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.City)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.StartDateLocal)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.StartDateLocal)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.EndDateLocal)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.EndDateLocal)
                </dd>
                <dt>
                    # Expenses
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Expenses.Count)
                </dd>
                <dt>
                    Total Expenses
                </dt>
                <dd>
                    @Model.Expenses.Sum(V => V.ExpenseValue)
                </dd>
            </dl>
        </div>
        <div class="col-md-4">
            @if (!string.IsNullOrEmpty(Model.LogoPath))
            {
                <img src="@Url.Content(Model.LogoPath)" alt="Image" style="width:150px;height:150px;max-width: 100%; height: auto;" />
            }
        </div>
    </div>
</div>
<div>
    <!--<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>-->
    <!--<a asp-action="AddGroup" asp-route-id="@Model.Id" class="btn btn-primary">Add Group</a>-->
    <a asp-action="Index" class="btn btn-success">Back to List</a>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Groups</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th>
                                Expense type
                            </th>
                            <th>
                                Expenditure Date
                            </th>
                            <th>
                                Expense value
                            </th>
                            <th>
                                Photo
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Expenses.OrderBy(g => g.ExpenditureDate))
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ExpenseType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ExpenditureDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ExpenseValue)
                            </td>
                            <td>
                                @if (!string.IsNullOrEmpty(item.PhotoPath))
                                {
                                    <img src="@Url.Content(item.PhotoPath)" alt="Image" style="width:100px;height:100px;max-width: 100%; height: auto;" />
                                }
                            </td>
                            <td>
                                <!--<a asp-action="EditGroup" asp-route-id="@item.Id" class="btn btn-warning"><i class="glyphicon glyphicon-pencil"></i></a>
                                <a asp-action="DetailsGroup" asp-route-id="@item.Id" class="btn btn-info"><i class="glyphicon glyphicon glyphicon-align-justify"></i></a>
                                <button data-id="@item.Id" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog"><i class="glyphicon glyphicon-trash"></i></button>-->
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable();

            // Delete item
            var item_to_delete;

            $('.deleteItem').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
            });

            $("#btnYesDelete").click(function () {
                window.location.href = '/Teams/DeleteGroup/' + item_to_delete;
            });
        });
    </script>
}
